<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% for(var i = 0; i < students.length; i++){%>
hello <%= students[i].name%>
<%}%>
this is the ejs template
</body>
</html>